/*
My first CSS page
*/
body {
  background-color: #e7eaf6;
}

h1 {
  color: #113f67
}

h3 {
  color: #113f67
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-width: 5px;
  border-color: lightgrey;
  width: 5%
}

img {

}
